################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj/Debug
/packages
/file.txt
/FMArslan.Web.csproj.user
/.vs
